/* Global rules Start */

/* en */
@font-face {
  font-family: "en_font";
  src: url("../files/fonts/Madimi_One/MadimiOne-Regular.woff2") format("woff2"),
    url("../files/fonts/Madimi_One/MadimiOne-Regular.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}
/* ar */
@font-face {
  font-family: "ar_font";
  src: url("../files/fonts/ElMessiri/ElMessiri-VariableFont_wght.woff2")
      format("woff2"),
    url("../files/fonts/ElMessiri/ElMessiri-VariableFont_wght.woff")
      format("woff");
  font-weight: 100 1000;
  font-display: swap;
}
/* ar cairo */
@font-face {
  font-family: "cairo";
  src: url("../files/fonts/Cairo/Cairo-VariableFont_slnt_wght.woff2")
      format("woff2"),
    url("../files/fonts/Cairo/Cairo-VariableFont_slnt_wght.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}

:root {
  --border-rad: 15px;
  --padding: 10px;
  --red1: #f00;
  --red2: #8e0000;
  --red3: #ff000070;
  --red4: #3e0000;
  --gold1: #ffd700;
  --gold2: #a28a00;
  --gold3: #ffd9007d;
  --gold4: #ffd9005f;
  --gold5: #ffeb7b;
  --gold6: #f1d530;
  --gold7: #d69a00;
  --gold8: #ffff00;
  --white1: #ffffff;
  --white2: #ffffffbd;
  --black1: #000;
  --black2: #333;

  --en_font: "en_font";
  --ar_font: "ar_font";
  --transition: 500ms;
  --timing-fun: ease-in-out;

  --info-card-bg-dir: to left;
  --info-card-transform-origin: left;

  --TV-delta-flex-dir: row-reverse;
}

html {
  scroll-behavior: smooth;
  color: var(--white1);
  background-color: var(--black1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  scrollbar-width: none;

  /* remove the blue feedback box on click */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
  max-width: 100%;
}

::-webkit-scrollbar {
  /* hide the scrollbar */
  display: none;
}

body {
  height: 100dvh;
  background-color: #222;
  font-family: var(--en_font), monospace;
  gap: 10px;
  padding: 7px;
  display: flex;
  flex-direction: column;

  &.ar {
    direction: rtl;
    font-family: var(--ar_font), monospace;
    --info-card-bg-dir: to right;
    --info-card-transform-origin: right;
    --TV-delta-flex-dir: row;
  }
}

/* Global rules End */

select {
  font-family: inherit;
}

input[type="number"] {
  font-family: var(--en_font);
}

select,
input[type="number"] {
  appearance: none;
  outline: none;
  border: none;
  text-align: center;
  caret-color: var(--red1);
  width: 100%;
  padding: var(--padding);
  border-radius: 100px;
  color: var(--red2);
  background-color: #e9e9ed;
  font-size: 1rem;

  &:is(:focus-visible, :focus) {
    box-shadow: 0 0 0 2px inset var(--red1);
  }
}

input[type="text"] {
  appearance: none;
  outline: none;
  border: none;
  border-radius: 100px;
  text-align: start;
  color: var(--gold1);
  padding: 10px;
  font-family: "cairo";
  background-color: var(--gold4);

  &:is(:focus-visible, :focus) {
    box-shadow: 0 0 0 5px inset var(--gold3);
  }

  &::placeholder {
    opacity: 0.5;
    color: currentColor;
  }
}

label {
  transition: color var(--transition);
  text-align: start;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;

  &:has(+ :is(*:focus, *:focus-visible)) {
    color: var(--red1);
  }
}

.switch {
  --w: 35px;
  width: var(--w);
  aspect-ratio: 1 / 0.5;
  background-color: transparent;
  border: 3px solid var(--gold1);
  border-radius: 100px;
  position: relative;
  transition-property: background-color;
  transition-duration: var(--transition);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-120%) translateY(-53%);
    width: calc(var(--w) * 0.3);
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--gold1);
    transition-property: transform, background-color;
    transition-duration: inherit;
  }

  &.on {
    background-color: var(--gold1);

    &::before {
      transform: translateX(20%) translateY(-50%);
      background-color: var(--red2);
    }
  }
}

.clock {
  display: flex;
  align-items: center;
  font-family: var(--en_font);
  gap: 7px;

  & > .time {
    display: flex;
    align-items: center;
    direction: ltr;
    color: var(--white1);

    & > * {
      width: 18px;
    }
  }
}

.date {
  display: flex;
  align-items: center;
  position: relative;
  gap: 7px;
  color: var(--white1);

  & > .info {
    display: flex;
    position: relative;
    top: 2px;
    gap: 7px;
  }
}

.dir-ltr {
  direction: ltr;
}

i.icon {
  color: var(--white2);
}

i.action {
  cursor: pointer;
  transition-property: color, transform;
  transition-duration: var(--transition);
  outline: none;
  border: none;
  color: var(--gold1);

  &:is(:hover, :focus-visible) {
    color: var(--red1);
    transform: scale3d(1.2, 1.2, 1);
  }
}

header {
  transform: translateX(150%);
  transition: transform 1s var(--timing-fun);

  & > .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & > .txt {
      display: flex;
      gap: 1px;
      font-size: 2rem;
      position: relative;
      letter-spacing: -0.7px;

      & > span:first-child {
        color: var(--red1);
      }
      & > span:last-child {
        color: var(--gold1);
      }

      &.ar {
        flex-direction: row-reverse;
        top: 3px;

        & > span:first-child {
          color: var(--red1);
        }
        & > span:last-child {
          color: var(--gold1);
        }
      }
    }
  }
}
@media (width < 600px) {
  header > .logo > .txt {
    font-size: 1.5rem;
  }
}
@media (width < 450px) {
  header > .logo > .txt {
    font-size: 1.2rem;
  }
}

main {
  flex: 1;
  display: flex;
  gap: 5px;
  border-radius: var(--border-rad);
  overflow: hidden;
  position: relative;

  & > :is(#badNetPage, #loadingPage) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-rad);
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
  }

  & > #badNetPage {
    top: 50%;
    transition: transform 1s;
    transform: translateY(150%);

    & > i {
      font-size: 90px;
      color: var(--gold1);
      animation: blink 1s linear infinite alternate;
    }

    & > .msg {
      color: var(--red1);
      font-size: 1.5rem;
    }
  }

  & > #loadingPage {
    top: 35%;
    transition: transform 1s;

    & > .logo {
      width: 50dvw;
      max-width: 350px;
      min-width: 150px;
    }

    & > #loading {
      --w: 8px;
      width: calc(15px + 1vw);
      aspect-ratio: 1;
      position: relative;
      animation: r-spin infinite 1s linear;
      border-radius: 100%;

      & > :only-child {
        background-color: #222;
        width: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }

      &::before,
      &::after {
        content: "";
        aspect-ratio: 1;
        border-radius: 100%;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
      }

      &::before {
        width: calc(100% + var(--w) * 2);
        background-image: conic-gradient(var(--red1), transparent);
        top: 50%;
      }

      &::after {
        width: var(--w);
        background-color: var(--red1);
        transform: translateY(-50%);
      }
    }
  }

  & > .content {
    flex: 1;
    border-radius: var(--border-rad);
    position: relative;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 5px;
    transform: translateX(150%);
    transition: transform 1s 0.5s var(--timing-fun);

    & > .clock-tools {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--white1);

      & > .tools {
        display: flex;
        align-items: center;
        gap: 15px;

        & > * {
          display: flex;
          align-items: center;
          cursor: pointer;
          border: none;
          outline: none;

          &.picked > i {
            scale: 1.4;
          }

          &:is(:hover, :focus-visible) > i {
            color: var(--gold1);
            scale: 1.4;
          }

          &#calculator_page_btn {
            & > i {
              transition: scale 0.5s;
            }

            &.picked > i {
              --col-from: var(--red1);
              --col-to: var(--gold1);
              animation: change-col infinite linear 1s alternate;
            }
          }

          &#settings_page_btn {
            & > i {
              transition: rotate 1.5s, scale 0.5s;
            }

            &.picked > i {
              color: var(--gold1);
              rotate: z 1turn;
            }
          }

          &#search_page_btn {
            & > i {
              transition: scale 0.5s, rotate 1s;
            }

            &.picked > i {
              color: var(--gold1);
              rotate: z 90deg;
            }
          }
        }
      }
    }

    & > .page-wrapper {
      flex: 1;
      position: relative;
      margin-top: 10px;

      & .page {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 15px;
        position: absolute;
        transform: rotateY(90deg);

        &.picked {
          transform: none;
          transition: transform 1s;
          z-index: 1;
        }

        & > .options {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 7px;

          & > * {
            flex-basis: 90px;
            background-color: var(--gold4);
            padding: 5px;
            cursor: pointer;
            outline: none;
            border: none;
            position: relative;
            contain: layout;
            overflow: hidden;
            border-radius: var(--border-rad);

            &::before {
              content: "";
              width: 100%;
              height: 100%;
              scale: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              translate: -50% -50%;
              z-index: -1;
              transition: scale var(--transition);
              border-radius: var(--border-rad);
            }

            &.picked {
              color: var(--gold1);

              &::before {
                background-color: var(--red2);
                scale: 1;
              }
            }

            &:focus-visible {
              outline: 2px solid var(--white2);
              background-color: var(--gold3);
            }

            &:hover {
              background-color: var(--gold2);
            }
          }
        }

        & > .wrapper {
          position: relative;
          flex: 1;
          overflow-y: auto;
          overscroll-behavior-block: none;

          & > * {
            width: 100%;
            height: 100%;
            position: absolute;
            transform: rotateX(90deg);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            &.picked {
              transform: none;
              transition: transform 1s;
            }
          }
        }

        & [data-val] {
          font-family: "cairo";
          direction: ltr;
        }

        & > .t-wrapper {
          border-radius: var(--border-rad);
          width: 100%;
          overflow-y: auto;
          overscroll-behavior-block: none;

          & > table {
            width: 100%;
            border-spacing: 1px;
            font-family: "cairo";

            & th[scope="col"] {
              background-color: var(--red2);
              color: var(--gold1);

              & > .unit {
                font-size: 0.7rem;
                color: var(--white2);

                &::before {
                  content: "( ";
                }
                &::after {
                  content: " )";
                }
              }
            }

            & th[scope="row"] {
              background-color: var(--gold2);
            }

            & td {
              background-color: var(--gold4);
              padding: 6px;
            }

            & > tbody > tr {
              & > * {
                transition: background-color 500ms, color 500ms;
              }

              &:hover > * {
                background-color: var(--gold1);
                color: var(--red4);
              }
            }

            & > thead {
              position: sticky;
              top: 0;
            }
          }
        }

        & > .top-list {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 15px;
          width: 100%;

          & > .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            background-color: var(--gold2);
            padding: 10px;
            border-radius: 25px;
            height: 100%;
            max-width: 200px;
            min-height: 120px;
            position: relative;

            &.top {
              background-image: linear-gradient(var(--red3), var(--red2));
              animation: grow infinite 0.7s alternate ease-in-out;

              & > .buy {
                color: var(--gold1);
              }

              & > .asset {
                color: var(--white1);
              }
            }

            & > .asset {
              white-space: nowrap;
            }
            & > .buy {
              font-size: 1.9rem;
            }
            & > .sell {
              position: absolute;
              top: 7px;
              left: 9px;
              background-color: var(--gold3);
              padding-inline: 7px;
              border-radius: 25px;
              font-size: 0.8rem;
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }
        }

        & .info-card {
          background-color: var(--gold2);
          border-radius: 100px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          padding: 7px 15px;
          white-space: nowrap;
          border: none;
          outline: none;
          position: relative;
          contain: layout;
          overflow: hidden;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            border-radius: inherit;
            width: 100%;
            height: 100%;
            transition: transform 1s;
            transform: rotateY(90deg);
            transform-origin: var(--info-card-transform-origin);
            z-index: -1;
            background-image: linear-gradient(
              var(--info-card-bg-dir),
              var(--red2),
              var(--red3)
            );
          }

          &:hover {
            &::before {
              transform: none;
            }

            & > .info {
              & > .name {
                color: var(--gold5);
              }
              & > .price {
                & > .val {
                  --col-from: var(--white1);
                  --col-to: var(--gold1);
                }
              }
            }
          }

          & > img {
            --w: 60px;
            width: var(--w);
            height: var(--w);
            border-radius: 100px;
          }

          & > .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;

            & > .name {
              text-align: start;
              font-size: 1.5rem;
              transition: color 700ms;
            }

            & > .price {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 5px;
              font-family: "cairo";

              & > .val {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                gap: 5px;

                & > .price-now {
                  direction: ltr;

                  &.up {
                    --col-to: var(--gold1);
                    animation: change-col 500ms infinite ease-out alternate;
                  }

                  &.down {
                    --col-to: var(--red2);
                    animation: change-col 500ms infinite alternate;
                  }

                  &.no-chng {
                    --col-to: var(--white2);
                    animation: change-col 500ms infinite ease-out alternate;
                  }
                }

                & > .unit {
                  font-size: 1rem;
                  color: var(--white2);
                }
              }
            }
          }
        }
      }

      & > #goldPage {
        & > .headers {
          font-family: "cairo";
          align-items: center;
          display: grid;
          grid: none / repeat(auto-fit, minmax(min(100%, 250px), 1fr));
          gap: 10px;

          & > .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            background-color: var(--gold2);
            padding: 5px 15px;
            border-inline-start: 10px solid var(--red2);
            border-radius: 3px;
            transition: background-color 500ms;

            &:hover {
              background-color: var(--gold1);

              & > .name {
                color: var(--red4);
              }

              & > .price {
                & > .value {
                  color: var(--red4);
                }
                & > .unit {
                  color: var(--red2);
                }
              }
            }

            & > .name {
              transition: color 500ms;
            }

            & > .price {
              display: flex;
              align-items: center;
              gap: 5px;

              & > .value {
                transition: color 500ms;
              }

              & > .unit {
                color: var(--white2);
                transition: color 500ms;
              }
            }
          }
        }
      }

      & > #settingsPage {
        border-radius: var(--border-rad);
        padding: 20px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        align-items: center;
        justify-content: center;
        background-color: var(--red2);
        width: 75%;
        height: fit-content;

        & > .option {
          display: flex;
          align-items: center;
          gap: 10px;
          direction: ltr;
        }

        & > .copy {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          margin-top: 10px;

          & > span:nth-child(1) {
            color: var(--gold1);
          }
          & > span:nth-child(2) {
            color: var(--white1);
          }
          & > span:nth-child(3) {
            color: var(--gold1);
          }
        }
      }

      & > #calculatorPage {
        gap: 20px;

        & > .wrapper {
          & > .calc {
            gap: 35px;

            &.picked {
              & > .title {
                padding-inline: 20px;
                width: 220px;
              }
            }

            & > .title {
              color: var(--gold1);
              border-inline: 10px solid;
              border-block: 2px solid;
              border-radius: 100px;
              padding-block: 5px;
              background-color: var(--red3);
              white-space: nowrap;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: 35px;
              width: 0px;
              transition-property: width, padding, font-size;
              transition-duration: 1s;
              transition-delay: 0.3s;
            }

            & :is(.input, .select) {
              width: 50%;
              max-width: 200px;
              display: flex;
              flex-direction: column;
              gap: 2px;
            }

            & > .result {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 7px;
              outline: none;
              border: none;
              width: 100%;

              & > .output {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--gold1);
                width: 100%;
                gap: 5px;

                & > .calc_out {
                  font-family: var(--en_font);
                  word-break: break-all;
                }

                & > .unit {
                  color: var(--red1);
                }
              }
            }

            /* non-Currency Calc */
            &[data-calcType="0"] {
              & > .input {
                & > label {
                  & > .unit {
                    font-size: 0.75rem;
                    color: var(--gold1);

                    &::before {
                      content: "( ";
                    }
                    &::after {
                      content: " )";
                    }
                  }
                }
              }
            }

            /* Currency Calc */
            &[data-calcType="1"] {
              &.swapped {
                & > .selections {
                  flex-direction: row-reverse;
                }
              }

              & > .from-to {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 1rem;

                & > i.reset {
                  width: 45px;
                }

                & > :is(.from, .to) {
                  color: var(--gold1);
                  max-width: 200px;
                  flex: 1;
                }
              }

              & > :is(.selections, .inputs) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
              }

              & > .selections {
                & > i.swap {
                  cursor: pointer;
                  transition: color var(--transition);
                  outline: none;
                  border: none;

                  &:is(:hover, :focus-visible) {
                    color: var(--red1);
                    scale: 1.2;
                  }
                }
              }

              & > .inputs {
                & > i {
                  color: var(--gold1);
                }
              }

              & > .result {
                & > i {
                  color: var(--white2);
                  font-size: 0.8rem;
                }

                & > .output {
                  max-width: 200px;
                  flex-direction: column;
                  justify-content: center;
                  gap: 0;
                }
              }
            }
          }
        }
      }

      & > #searchPage {
        align-items: center;
        contain: layout;

        & > #emptySearch {
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          color: var(--white2);
          opacity: 0.2;
          font-size: 5rem;
          z-index: -1;
        }

        & > #searchBox {
          display: flex;
          justify-content: flex-end;
          position: relative;
          width: 0;
          transition: width 1s;

          &:is(:focus, :focus-visible, :focus-within) {
            width: 80%;

            & > input[type="text"] {
              opacity: 1;
              background-image: linear-gradient(var(--red3), var(--red2));
            }

            & > #searchIcon {
              background-color: transparent;
              translate: none;
            }
          }

          & > input[type="text"] {
            opacity: 0;
            width: 100%;
            transition: opacity 1s;
            color: var(--white1);
          }

          & > #searchIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--gold2);
            border-radius: 100px;
            position: absolute;
            height: 100%;
            aspect-ratio: 1;
            color: var(--gold1);
            transition: transform 1s;
            transform: translateX(50%);

            &.ar {
              transform: translateX(-50%);
            }
          }
        }

        & > .holder {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          overscroll-behavior-block: none;

          & > #searchResults {
            display: grid;
            grid: none / repeat(auto-fit, minmax(min(300px, 100%), 1fr));
            gap: 15px;
            width: 100%;
          }
        }
      }

      & > #mainPage {
        gap: 20px;

        & > .holder {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          overflow-y: auto;
          overscroll-behavior-block: none;

          & > .details {
            display: grid;
            grid: none / repeat(auto-fit, minmax(min(350px, 100%), 1fr));
            gap: 15px;
            width: 100%;

            & > .TV {
              &.off > .info > .name > .unit::after {
                animation: none;
                background-color: var(--red1);
              }

              & > img {
                border-radius: 0;
                translate: 0 -5%;
              }

              & > .info {
                & > .name {
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  white-space: nowrap;

                  & > .unit {
                    font-size: 0.9rem;
                    color: var(--white2);
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    &::after {
                      content: "";
                      width: 10px;
                      aspect-ratio: 1;
                      background-color: var(--gold5);
                      border-radius: 100px;
                      animation: blink infinite 500ms alternate ease-in-out;
                    }
                  }
                }

                & > .price {
                  & > .val {
                    --col-from: var(--white1);
                    flex-direction: row;
                    gap: 5px;

                    & > .unit {
                      font-size: 0.75rem;
                      color: var(--white2);
                    }
                  }

                  & > .delta {
                    font-size: 1rem;
                    direction: ltr;
                    display: flex;
                    flex-direction: var(--TV-delta-flex-dir);
                    align-items: center;
                    gap: 5px;
                    translate: 0 5%;
                    padding-inline: 7px;
                    border-radius: 10px;
                    background-color: var(--gold4);

                    & > i {
                      display: none;
                    }

                    &.up {
                      color: var(--gold8);
                      & > i {
                        display: block;
                        translate: 0 8%;
                      }
                    }

                    &.down {
                      color: var(--red4);

                      & > i {
                        display: block;
                        transform: rotate(180deg);
                        translate: 0 -2%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  & > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--white1);
    padding-block: 5px;
    background-color: var(--gold2);
    padding: 7px;
    border-radius: var(--border-rad);
    transform: translateY(150%);
    transition: transform 1s 1s var(--timing-fun);
    position: relative;
    contain: layout;

    & > .btn {
      --w: 85px;
      width: var(--w);
      height: var(--w);
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      border: none;
      position: relative;

      &:focus-visible {
        /* outline: 2px solid var(--white2); */
        background-color: var(--gold3);
      }

      /* &:hover {
        background-color: var(--gold4);
      } */

      &.picked {
        color: var(--red4);
      }

      & > .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        contain: layout;
        border-radius: 100px;
        aspect-ratio: 1;
        font-size: 1.3rem;

        &::before,
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          scale: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          z-index: -1;
          transition: none;
          border-radius: inherit;
        }
        &::before {
          background-color: #222;
        }
        &::after {
          background-color: var(--red2);
        }

        & > i {
          transition: color var(--transition);
        }
      }

      & > .txt {
        font-size: 1.25rem;
        transition: color var(--transition);
      }
    }
  }
}

/* Media Queries */
@media (height < 650px) or (width < 320px) {
  label {
    font-size: 0.9rem;
  }

  select,
  input[type="number"] {
    padding-block: 7px;
    font-size: 0.9rem;
  }

  main > .content > .page-wrapper > #calculatorPage > .wrapper > .calc {
    gap: 17px;

    &[data-calcType="1"] {
      & > .from-to {
        font-size: 0.9rem;
      }
    }

    &.picked {
      & > .title {
        font-size: 0.8rem;
        width: 185px;
      }
    }
  }
}
@media (height < 400px) {
  main {
    & > nav {
      & > .btn {
        --w: 45px;

        & > .icon > i {
          font-size: 1.1rem;
        }

        & > .txt {
          font-size: 0.75rem;
        }
      }
    }
  }
}
@media (width < 770px) {
  main > .content > .page-wrapper .page#mainPage {
    & > .top-list {
      & > .item:is(:nth-child(2), :last-child) {
        display: none;
      }
    }
  }
}
@media (width < 600px) {
  main {
    /* vertical mode */
    flex-direction: column-reverse;
    gap: 3px;

    & > nav {
      /* horizontal mode */
      gap: 5px;
      flex-direction: row;
      border-radius: 100px;
      margin-block-start: 30px;

      & > .btn {
        --w: 60px;
        justify-content: flex-end;

        &.picked {
          color: var(--gold1);

          & > .icon {
            transform: translateY(calc(-75%));
            background-color: transparent;

            &::before {
              scale: 1.4;
              transition: scale 700ms;
            }
            &::after {
              scale: 1;
              transition: scale 700ms;
            }
          }

          & > .txt {
            opacity: 1;
          }
        }

        & > .txt {
          opacity: 0;
          font-size: 1.2rem;
          color: var(--red4);
          translate: 0 25%;
          transition: opacity 500ms;
        }

        & > .icon {
          width: 55px;
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          font-size: 1.5rem;
          background-color: var(--gold4);
          transition: transform 500ms, background-color 2s;
        }
      }
    }
  }
}
@media (width < 450px) {
  main {
    & > nav {
      margin-block-start: 25px;

      & > .btn {
        --w: 50px;

        &.picked {
          & > .icon {
            transform: translateY(-80%);
          }
        }

        & > .icon {
          width: 45px;
          font-size: 1.3rem;
        }

        & > .txt {
          font-size: 0.9rem;
        }
      }
    }

    & > .content > .page-wrapper {
      & > .page {
        & > .options {
          font-size: 0.75rem;

          & > * {
            flex-basis: 75px;
          }
        }

        & > .top-list {
          gap: 10px;

          & > .item > .buy {
            font-size: 1.7rem;
          }
        }

        & .info-card {
          & > img {
            --w: 50px;
          }

          & > .info {
            & > .name {
              font-size: 1.25rem;
            }

            & > .price {
              & > .val {
                font-size: 1.25rem;

                & > .unit {
                  font-size: 0.85rem;
                }
              }
            }
          }
        }

        &#mainPage > .holder > .details > .TV > .info > .price {
          & > .val {
            & > .unit {
              font-size: 0.7rem;
            }
          }
          & > .delta {
            font-size: 0.85rem;
          }
        }
      }

      & > #searchPage > #searchResults {
        & > .result {
          font-size: 1.1rem;
        }
      }
    }
  }
}
@media (width < 345px) {
  main > .content > .page-wrapper .page {
    &#mainPage > .holder > .details > .TV > .info {
      & > .name {
        font-size: 1.1rem;

        & > .unit {
          font-size: 0.7rem;
        }
      }

      & > .price > .delta > .delta-pt {
        display: none;
      }
    }
  }
}
@media (width < 290px) {
  main {
    & > .content {
      & > .page-wrapper {
        & .page {
          & > .top-list {
            & > .item {
              min-height: 100px;

              & > .asset {
                font-size: 0.8rem;
              }
              & > .buy {
                font-size: 1.3rem;
              }
              & > .sell {
                font-size: 0.65rem;
                border-radius: 10px;
                gap: 3px;
                left: 50%;
                translate: -50% 0;
              }
            }
          }

          & .info-card {
            border-radius: 20px;
            flex-direction: column;
            --info-card-bg-dir: to bottom;
            --info-card-transform-origin: top;

            &::before {
              transform: rotateX(90deg);
            }

            & > .info {
              align-items: center;

              & > .name {
                white-space: wrap;
                text-align: center;
                flex-direction: column;
                gap: 0;
                font-size: 1.3rem;
              }

              & > .price {
                flex-direction: column;
                justify-content: center;
                gap: 0;

                & > .val {
                  flex-direction: column;
                  justify-content: center;
                  gap: 0;

                  & > .unit {
                    font-size: 1rem;
                  }
                }
              }
            }
          }

          &#mainPage > .holder > .details > .TV {
            & > img {
              translate: none;
            }

            & > .info {
              & > .name {
                font-size: 1.3rem;

                & > .unit {
                  font-size: 1rem;
                }
              }

              & > .price {
                & > .delta {
                  font-size: 1rem;
                  translate: none;

                  & > .delta-pt {
                    display: block;
                  }
                }
              }
            }
          }

          & > .t-wrapper > table {
            font-size: 0.8rem;
          }
        }

        & > #calculatorPage > .wrapper > .calc {
          & :is(.input, .select) > :is(input, select) {
            font-size: 0.8rem;
          }

          & > .result > .output {
            & > :is(.calc_out, .unit) {
              font-size: 0.8rem;
            }
          }
        }

        & > #goldPage > .headers > .head {
          font-size: 0.9rem;

          & > .price {
            flex-direction: column;
            gap: 0;
          }
        }
      }
    }

    & > nav {
      margin-block-start: 15px;

      & > .btn {
        --w: 35px;

        &.picked {
          & > .icon {
            transform: translateY(-85%);
          }
        }

        & > .icon {
          width: 30px;
          font-size: 1rem;
        }

        & > .txt {
          font-size: 0.75rem;
        }
      }
    }
  }
}

/* Animation Keyframes */
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.075, 1.075, 1);
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes r-spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes change-col {
  from {
    color: var(--col-from);
  }
  to {
    color: var(--col-to);
  }
}
