/* Global rules Start */

/* en */
@font-face {
  font-family: "en_font";
  src: url("../files/fonts/Madimi_One/MadimiOne-Regular.woff2") format("woff2"),
    url("../files/fonts/Madimi_One/MadimiOne-Regular.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}
/* ar */
@font-face {
  font-family: "ar_font";
  src: url("../files/fonts/ElMessiri/ElMessiri-VariableFont_wght.woff2")
      format("woff2"),
    url("../files/fonts/ElMessiri/ElMessiri-VariableFont_wght.woff")
      format("woff");
  font-weight: 100 1000;
  font-display: swap;
}
/* ar cairo */
@font-face {
  font-family: "cairo";
  src: url("../files/fonts/Cairo/Cairo-VariableFont_slnt_wght.woff2")
      format("woff2"),
    url("../files/fonts/Cairo/Cairo-VariableFont_slnt_wght.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}

:root {
  --border-rad: 15px;
  --padding: 10px;
  --red1: #f00;
  --red2: #8e0000;
  --red3: #ff000070;
  --red4: #3e0000;
  --gold1: #ffd700;
  --gold2: #a28a00;
  --gold3: #ffd9007d;
  --gold4: #ffd9005f;
  --white1: #ffffff;
  --white2: #ffffffbd;
  --black1: #000;
  --black2: #333;

  --en_font: "en_font";
  --ar_font: "ar_font";
  --transition: 500ms;
  --timing-fun: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html {
  scroll-behavior: smooth;
  color: var(--white1);
  background-color: var(--black1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  scrollbar-width: none;
}

img {
  display: block;
  max-width: 100%;
}

::-webkit-scrollbar {
  /* hide the scrollbar */
  display: none;
}

body {
  height: 100dvh;
  background-color: #222;
  font-family: var(--en_font), monospace;
  gap: 10px;
  padding: 7px;
  display: flex;
  flex-direction: column;

  &.ar {
    direction: rtl;
    font-family: var(--ar_font), monospace;
  }
}

/* Global rules End */

select {
  font-family: inherit;
}

input[type="number"] {
  font-family: var(--en_font);
}

select,
input[type="number"] {
  appearance: none;
  outline: none;
  border: none;
  text-align: center;
  caret-color: var(--red1);
  width: 100%;
  padding: 7px var(--padding);
  border-radius: 100px;
  color: var(--red2);
  background-color: #e9e9ed;

  &:is(:focus-visible, :focus) {
    /* outline: 3px solid var(--gold1); */
    box-shadow: 0 0 0 2px inset var(--red1);
  }
}

label {
  transition: color var(--transition);
  text-align: start;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;

  &:has(+ :is(*:focus, *:focus-visible)) {
    color: var(--red1);
  }
}

.switch {
  --w: 35px;
  width: var(--w);
  aspect-ratio: 1 / 0.5;
  background-color: transparent;
  border: 3px solid var(--gold1);
  border-radius: 100px;
  position: relative;
  transition-property: background-color;
  transition-duration: var(--transition);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -120% -50%;
    width: calc(var(--w) * 0.3);
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--gold1);
    transition-property: translate, background-color;
    transition-duration: inherit;
  }

  &.on {
    background-color: var(--gold1);

    &::before {
      translate: 20% -50%;
      background-color: var(--red2);
    }
  }
}

.clock {
  display: flex;
  align-items: center;
  font-family: var(--en_font);
  gap: 7px;

  & > .time {
    display: flex;
    align-items: center;
    direction: ltr;
    color: var(--white1);

    & > * {
      width: 18px;
    }
  }
}

.date {
  display: flex;
  align-items: center;
  position: relative;
  gap: 7px;
  color: var(--white1);

  & > .info {
    display: flex;
    position: relative;
    top: 2px;
    gap: 7px;
  }
}

i.icon {
  color: var(--white2);
}

i.action {
  cursor: pointer;
  transition-property: color, scale;
  transition-duration: var(--transition);
  outline: none;
  border: none;
  color: var(--gold1);

  &:is(:hover, :focus-visible) {
    color: var(--red1);
    scale: 1.2;
  }
}

header {
  transform: translateX(150%);
  transition: transform 1s var(--timing-fun);

  & > .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & > .txt {
      display: flex;
      gap: 1px;
      font-size: 2rem;
      position: relative;
      letter-spacing: -0.7px;

      & > span:first-child {
        color: var(--red1);
      }
      & > span:last-child {
        color: var(--gold1);
      }

      &.ar {
        flex-direction: row-reverse;
        top: 3px;

        & > span:first-child {
          color: var(--red1);
        }
        & > span:last-child {
          color: var(--gold1);
        }
      }
    }
  }
}
@media (width < 600px) {
  header > .logo > .txt {
    font-size: 1.5rem;
  }
}
@media (width < 450px) {
  header > .logo > .txt {
    font-size: 1.2rem;
  }
}

main {
  flex: 1;
  display: flex;
  gap: 5px;
  border-radius: var(--border-rad);
  overflow: hidden;
  position: relative;

  & > :is(#badNetPage, #loadingPage) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-rad);
    position: absolute;

    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
  }

  & > #badNetPage {
    top: 50%;
    transition: transform 1s;
    transform: translateY(150%);

    & > i {
      font-size: 90px;
      color: var(--gold1);
      animation: blink 1s linear infinite alternate;
    }

    & > .msg {
      color: var(--red1);
      font-size: 1.5rem;
    }
  }

  & > #loadingPage {
    top: 35%;
    transition: transform 1s;

    & > .logo {
      width: 50dvw;
      max-width: 350px;
      min-width: 150px;
    }

    & > #loading {
      --w: 8px;
      width: calc(15px + 1vw);
      aspect-ratio: 1;
      position: relative;
      animation: r-spin infinite 1s linear;
      border-radius: 100%;

      & > :only-child {
        background-color: #222;
        width: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }

      &::before,
      &::after {
        content: "";
        aspect-ratio: 1;
        border-radius: 100%;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
      }

      &::before {
        width: calc(100% + var(--w) * 2);
        background-image: conic-gradient(var(--red1), transparent);
        top: 50%;
      }

      &::after {
        width: var(--w);
        background-color: var(--red1);
        transform: translateY(-50%);
      }
    }
  }

  & > .content {
    flex: 1;
    border-radius: var(--border-rad);
    position: relative;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translateX(150%);
    transition: transform 1s 0.5s var(--timing-fun);

    & > .clock-tools {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--white1);

      & > .tools {
        display: flex;
        align-items: center;
        gap: 15px;

        & > * {
          display: flex;
          align-items: center;
          cursor: pointer;
          border: none;
          outline: none;

          &.picked > i {
            scale: 1.4;
          }

          &:is(:hover, :focus-visible) > i {
            color: var(--gold1);
            scale: 1.4;
          }

          &#calculator_page_btn {
            & > i {
              transition: scale 0.5s;
            }

            &.picked > i {
              animation: change-col infinite linear 1s alternate;
            }
          }

          &#settings_page_btn {
            & > i {
              transition: rotate 1.5s, scale 0.5s;
            }

            &.picked > i {
              color: var(--gold1);
              rotate: z 1turn;
            }
          }
        }
      }
    }

    & > .page-wrapper {
      position: relative;
      flex: 1;

      & > .page {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 20px;
        position: absolute;
        transform: rotateY(90deg);
        transition: transform 100ms;

        &.picked {
          transition: transform 1s;
          transform: none;
        }

        & [data-val] {
          font-family: "cairo";
        }

        & > .top-list {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          & > .item {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 10px;
            background-image: linear-gradient(var(--red2), var(--red4));
            padding: var(--padding);
            border-radius: var(--border-rad);
            max-width: 170px;

            & > .asset {
              color: var(--gold1);
            }
            & > .value {
              color: var(--white1);
            }
            & > .unit {
              color: var(--white2);
            }
          }
        }

        & > .t-wrapper {
          overflow-y: scroll;
          border-radius: var(--border-rad);

          & > table {
            width: 100%;
            border-spacing: 2px;
            font-family: "cairo";

            & th[scope="col"] {
              background-color: var(--red2);
              color: var(--gold1);

              & > .unit {
                font-size: 12px;
                color: var(--white2);

                &::before {
                  content: "( ";
                }
                &::after {
                  content: " )";
                }
              }
            }

            & th[scope="row"] {
              background-color: var(--gold2);
            }

            & td {
              background-color: var(--gold4);
              padding: 6px;
            }

            & > tbody > tr:hover > * {
              background-color: var(--gold1);
              color: var(--black1);
            }

            & > thead {
              position: sticky;
              top: 0;
            }
          }
        }
      }

      & > #settingsPage {
        border-radius: var(--border-rad);
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: var(--red2);
        width: 75%;
        height: 30%;

        & > .option {
          display: flex;
          align-items: center;
          gap: 10px;
          direction: ltr;
        }

        & > .copy {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
          white-space: nowrap;

          & > span:nth-child(1) {
            color: var(--gold1);
          }
          & > span:nth-child(2) {
            color: var(--white1);
          }
          & > span:nth-child(3) {
            color: var(--gold1);
          }
        }
      }

      & > #calculatorPage {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 25px;

        & > .options {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 7px;

          & > * {
            background-color: var(--gold4);
            flex-basis: 95px;
            padding: 5px;
            cursor: pointer;
            outline: none;
            border: none;
            position: relative;
            contain: layout;
            overflow: hidden;
            border-radius: var(--border-rad);
            max-width: 110px;

            &::before {
              content: "";
              background-color: var(--red2);
              width: 100%;
              height: 100%;
              scale: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              translate: -50% -50%;
              z-index: -1;
              transition: scale var(--transition);
              border-radius: var(--border-rad);
            }

            &.picked {
              color: var(--gold1);

              &::before {
                scale: 1;
              }
            }

            &:focus-visible {
              outline: 2px solid var(--white2);
              background-color: var(--gold3);
            }

            &:hover {
              background-color: var(--gold2);
            }
          }
        }

        & > .calc-wrapper {
          position: relative;
          flex: 1;
          overflow-y: scroll;

          & > .calc {
            width: 100%;
            height: 100%;
            position: absolute;
            transform: rotateX(90deg);
            border-radius: var(--border-rad);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 35px;

            &.picked {
              transition: transform 1s;
              transform: none;

              & > .title {
                padding-inline: 20px;
                width: 200px;
              }
            }

            & > .title {
              color: var(--gold1);
              border-inline: 10px solid;
              border-block: 2px solid;
              border-radius: 100px;
              padding-block: 5px;
              background-color: var(--red3);
              white-space: nowrap;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: 35px;
              width: 0px;
              transition-property: width, padding, font-size;
              transition-duration: 1s;
              transition-delay: 0.3s;
              font-size: 0.9rem;
            }

            & :is(.input, .select) {
              width: 50%;
              max-width: 200px;
              display: flex;
              flex-direction: column;
              gap: 2px;
            }

            & > .result {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 7px;
              outline: none;
              border: none;
              width: 100%;

              & > .output {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--gold1);
                width: 100%;
                gap: 5px;

                & > .calc_out {
                  font-family: var(--en_font);
                  word-break: break-all;
                }

                & > .unit {
                  color: var(--red1);
                }
              }
            }

            /* non-Currency Calc */
            &[data-calcType="0"] {
              & > .input {
                & > label {
                  & > .unit {
                    font-size: 0.65rem;
                    color: var(--gold1);

                    &::before {
                      content: "( ";
                    }
                    &::after {
                      content: " )";
                    }
                  }
                }
              }
            }

            /* Currency Calc */
            &[data-calcType="1"] {
              &.swapped {
                & > .selections {
                  flex-direction: row-reverse;
                }
              }

              & > .from-to {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                font-size: 0.9rem;

                & > i.reset {
                  width: 45px;
                }

                & > :is(.from, .to) {
                  color: var(--gold1);
                  max-width: 200px;
                  flex: 1;
                }
              }

              & > :is(.selections, .inputs) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
              }

              & > .selections {
                & > i.swap {
                  cursor: pointer;
                  transition: color var(--transition);
                  outline: none;
                  border: none;

                  &:is(:hover, :focus-visible) {
                    color: var(--red1);
                    scale: 1.2;
                  }
                }

                & > .select > select.one-option {
                }
              }

              & > .inputs {
                & > i {
                  color: var(--gold1);
                }
              }

              & > .result {
                & > i {
                  color: var(--white2);
                  font-size: 0.8rem;
                }

                & > .output {
                  max-width: 200px;
                  flex-direction: column;
                  justify-content: center;
                  gap: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  & > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--white1);
    padding-block: 5px;
    background-color: var(--gold3);
    padding: 7px;
    border-radius: var(--border-rad);
    transform: translateY(150%);
    transition: transform 1s 1s var(--timing-fun);

    & > * {
      border-radius: var(--border-rad);
      width: 80px;
      height: 75px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;
      outline: none;
      border: none;
      position: relative;
      contain: layout;
      overflow: hidden;

      &::before {
        content: "";
        background-color: var(--red2);
        width: 100%;
        height: 100%;
        scale: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        transition: scale var(--transition);
        border-radius: var(--border-rad);
      }

      &:focus-visible {
        /* outline: 2px solid var(--white2); */
        background-color: var(--gold3);
      }

      /* &:hover {
        background-color: var(--gold4);
      } */

      &.picked {
        color: var(--gold1);

        &::before {
          scale: 1;
        }
      }

      & > i {
        font-size: 1.3rem;
      }

      & > .txt {
        font-size: 1rem;
      }
    }
  }
}

@media (height < 615px) or (width < 320px) {
  main {
    & > .content {
      & > .page-wrapper {
        & > .page > .top-list {
          gap: 15px;
        }

        & > #calculatorPage > .calc-wrapper > .calc {
          gap: 17px;

          &.picked {
            & > .title {
              font-size: 0.75rem;
              width: 170px;
            }
          }
        }
      }
    }
  }
}
@media (width < 600px) {
  main {
    /* vertical mode */
    flex-direction: column-reverse;
    gap: 3px;

    & > nav {
      /* horizontal mode */
      flex-direction: row;
      gap: 7px;

      & > * {
        width: 75px;
        height: 65px;

        & > i {
          font-size: 1.1rem;
        }

        & > .txt {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (width < 450px) {
  main {
    & > nav {
      gap: 5px;

      & > * {
        width: 60px;
        height: 50px;

        & > i {
          font-size: 0.9rem;
        }

        & > .txt {
          font-size: 0.7rem;
        }
      }
    }

    & > .content > .page-wrapper > #calculatorPage {
      & > .options {
        font-size: 0.75rem;

        & > * {
          flex-basis: 70px;
        }
      }
    }
  }
}

/* animation keyframes */
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    rotate: z 360deg;
  }
}

@keyframes r-spin {
  to {
    rotate: z -360deg;
  }
}

@keyframes change-col {
  from {
    color: var(--red1);
  }
  to {
    color: var(--gold1);
  }
}
